name: publish
on:
    push: 
        branches: 
            - main

jobs:
    publish-plumpwire-docker:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build the image
              run: |
                docker build . --tag ghcr.io/plumpalbert/plumpwire:latest
                docker push ghcr.io/plumpalbert/plumpwire:latest